<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/favicon.png" rel="icon">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <%- include ('./partials/headeradmin') %>
  <!-- ======= Sidebar ======= -->
 <%- include ('./partials/sideadmin') %>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Config List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/misaleacadamy/dashboard">Home</a></li>
          <li class="breadcrumb-item">Manage System Config</li>
          <li class="breadcrumb-item active">All Config List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Configuration List</h5>

              <!-- Vertical Pills Tabs -->
              <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active btn-outline-primary btn-sm mb-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Candidate(Tehadso) Schools</button>
                  <button class="nav-link btn-outline-primary btn-sm mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" tabindex="-1">Candidate(Tehadso) Course</button>
                  <button class="nav-link btn-outline-primary btn-sm mb-2" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false" tabindex="-1">Education(Licence) Category</button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="">
                      <h5 class="">Candidate(Tehadso)School List</h5>
                   
                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Config Type</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if(config.length > 0) { %>
                                <% var i =0 %>
                                <% config.forEach(function(row){ %>
                                    <% i++ %>
                                    <%if(row.config_type==="School"){%>
                                    <tr>
                                        <th scope="row"><%= i %></th>
                                        <td><%= row.config_name %></td>
                                        <td><%= row.config_type%></td>
                                                       
                                        <td><button class="btn btn-sm btn-block btn-outline-primary">Activate</button></td>
                                      </tr>
                               <% }} )%>
                       
                          <%} %>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
        
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="">
                      <h5 class="">Candidate(Tehadso) Course List</h5>
                   
                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Config Type</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if(config.length > 0) { %>
                                <% var i =0 %>
                                <% config.forEach(function(row){ %>
                                    <% i++ %>
                                    <%if(row.config_type==="Course"){%>
                                    <tr>
                                        <th scope="row"><%= i %></th>
                                        <td><%= row.config_name %></td>
                                        <td><%= row.config_type%></td>
                                                       
                                        <td><button class="btn btn-sm btn-block btn-outline-primary">Activate</button></td>
                                      </tr>
                               <% }} )%>
                       
                          <%} %>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
        
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="">
                      <h5 class="">Education(Licence) List</h5>
                   
                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Config Type</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if(config.length > 0) { %>
                                <% var i =0 %>
                                <% config.forEach(function(row){ %>
                                    <% i++ %>
                                    <%if(row.config_type==="Education"){%>
                                      <tr>
                                        <th scope="row"><%= i %></th>
                                        <td><%= row.config_name %></td>
                                        <td><%= row.config_type%></td>
                                                       
                                        <td><button class="btn btn-sm btn-block btn-outline-primary">Activate</button></td>
                                      </tr>
                                   
                                  
                               <%  }} )%>
                       
                          <%} %>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
        
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Vertical Pills Tabs -->

            </div>
          
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <%- include ('./partials/footeradmin') %>

  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../../assets/vendor/echarts/echarts.min.js"></script>
  <script src="../../assets/vendor/quill/quill.min.js"></script>
  <script src="../../assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>

</body>

</html>